<!DOCTYPE html>
<html lang="zxx">

<head>
    <a href="/"><img  src="../../public/img/dgimaa.jpg" alt="Logo" width="90" height="80"></a>

    <center><h1><b>Ajout d'un stage</h1></center> </b>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">

    <title>Elsa Theme - Multipurpose Template from Andreas Lautenschlager</title>

    <!-- normalize core CSS -->
    <link href="../../public/css/normalize.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/bootstrap/css/carousel.css" rel="stylesheet">
    <link href="../../public/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../public/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="../../public/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts - Change if needed -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Menu shrinking -->
    <script type="text/javascript" src="../../public/js/menu.js"></script>

    <!-- Main styles of this template -->
    <link href="../../public/css/style.min.css?v=1.0.0" rel="stylesheet">

    <!-- Custom CSS. Input here your changes -->
    <link href="../../public/css/custom.css" rel="stylesheet">
    

</head>

<body>



<!-- Navigation -->
<!--
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo" src="img/logo.png" alt="Logo"></a>
        </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Main Page</li>
                        <li><a href="index.html">Index</a></li>
                        <li class="dropdown-header">Alternative Headers</li>
                        <li><a href="index-header-hero.html">Hero Image</a></li>
                        <li><a href="index-header-product.html">Product Feature</a></li>
                        <li><a href="index-header-newsletter.html">Newsletter</a></li>
                        <li><a href="index-header-carousel.html">Classic Carousel</a></li>
                        <li><a href="index-header-video.html">Video</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Company</li>
                        <li class="active"><a href="about-us.html">About Us</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                        <li><a href="sales-page.html">Sales Page</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative</li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="portfolio-item.html">Portfolio Item</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page Layouts<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Page Layouts</li>
                        <li><a href="full-width.html">Full Width</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-left-sidebar.html">Right &amp; Left Sidebar</a></li>
                        <li><a href="../master.ejs">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="components.html">Components</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Standard Layout</li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-single-post.html">Blog Single Post</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative Layout</li>
                        <li><a href="blog-full-width.html">Blog No Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>-->

        </nav>
       
    </div>
</div>




<!-- Page Header -->
<!--
<div class="page-header">
    <div class="container">
        <div class="row">
             -->
            <div class="col-md-12">
                
                <ul class="breadcrumb">
                   
                    <li><a href="../"  >Acceuil <b class="caret"></b>  </a></li>
                    <li><a href="/dashboard" role="button">Dashboard</a></li>
<!--
                    <li><a href="index.html">Home</a></li>
                    -->
                    <li><a href="/stage/list">Voir tout</a></li>
                    <li>Ajout d'un stage</li>
                </ul>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col-md-12">
              
            <a class="btn btn-primary float:Right" href="/dashboard" role="button">Dashboard</a>
            <br>
            </div>
        </div>
        -->
    </div>
</div>

<div class="container">

    <form action="/stage" method="post" autocomplete="off">
        <input type="hidden" name="_id">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Entreprise</label>
                <input type="text" name="entreprise" class="form-control"  placeholder="xxxxx">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Responsable</label>
                <input type="text" class="form-control" name="responsable"  placeholder="xxxxx">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" name="email" class="form-control"  placeholder="xxxxx">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Téléphone</label>
                <input type="number" class="form-control" name="telephones"  placeholder="xxxxx">
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">titre de l'offre</label>
                <input type="text" class="form-control" name="titreOffre">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Type de stage</label>
                <select id="inputState" class="form-control" name="type">
                    <option name="type" value="PFE" selected>Stage PFE</option>
                    <option name="type" value="Stage Ordinaire">Stage ordinaire</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Nombre de postes</label>
                <input type="number" class="form-control"  name="nombrePostes" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputAddress">Adresse</label>
                <input type="text" class="form-control" name="adresse" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-2">
                <label>Site web :</label>
                <input type="text" class="form-control" name="siteWeb" >
            </div>
            <div class="form-group col-md-2">
                <label>Publié le :</label>
                <input type="text" class="form-control"  value="<%=new Date().getDate()+"/"+(new Date().getMonth()+1)+"/"+new Date().getFullYear()%>" disabled style=" margin: .4rem 0;">

            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Description</label>
            <textarea class="form-control" name="Description" rows="10" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label for="inputAddress">Missions</label>
            <textarea class="form-control" name="Missions" rows="10" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label for="inputAddress">Compétences requises</label>
            <textarea class="form-control" name="Competences" rows="10" cols="50"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
        <a href="/stage/list" class="btn btn-secondary"><i class="fa fa-list-alt"></i> View All</a>
    </form>
</div>


<!-- Scripts -->

<!-- Loads Bootstrap Main JS -->
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script src="../../public/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

<!-- Initiate Google Maps - For more Infos look into the documentation -->
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="../../public/js/google-map.js"></script>

</body>

</html>
