
	 <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="/"><img  src="../../public/img/dgimaa.jpg" alt="Logo" width="100" height="80"></a>
                
            </div>
            
            <nav class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                
                      <li><a href="/">Acceuil</a></li>
                      <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DGIMA<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"></li>
                            <li><a href="/etudiant/apropos">A propos</a></li>
                            <li><a href="/event">Evenements</a></li>

                            <li><a href="/etudiant/affichepresse">Presse</a></li>
                            <li><a href="/etudiant/affichecertif">Certificats</a></li>
                        </ul>
                    </li>




                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formation<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"></li>
                            <li><a href="index.html">Formation ingénieur </a></li>

                            <li><a href="">Masters</a></li>
                            <li><a href="">Doctorats</a></li>
                            <li><a href="index.html">Stages</a></li>
                            <li><a href="index-header-hero.html">Meilleurs Projets</a></li>
                            <li><a href="index-header-product.html">Lauréats</a></li>
                          
                        </ul>
                    </li>

                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recherche<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"></li>
                            <li><a href="/recherche/laboratoires">Laboratoires</a></li>
                            <li><a href="/recherche/master">Masters</a></li>
                            <li><a href="/recherche/ecoleDoctorale">Doctorat</a></li>
                         </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entreprises<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"></li>
                            <li><a href="full-width.html">Visites Techniques</a></li>

                            <li><a href="/stage/listEtudiant">Stages et PFE/PFA</a></li>
                            <li><a href="/recrutement/listEtudiant">Listes des Offres d'Emplois</a></li>
                            <li><a href="/partners/partenaires2">Partenariat</a></li>
                            <li class="dropdown-header">International</li>
                            <li><a href="/infos/politique_international">Politique à L'international</a></li>
                            <li><a href="/infos/mobiliteEtudiant">Partenariat International</a></li>

                            <li><a href="blog-left-sidebar.html">Etudiants Internationaux</a></li>                        </ul>
                    </li>
                 
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connexion<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"></li>
                            <li><a href="/users/login">Se Connecter</a></li>

                            <li><a href="/users/contact">Contact</a></li>
                        </ul>
                    </li>
                   

                </ul>
            </nav>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>
	 <!-- Hero Header -->
	 <header class="hero-header" style="background-image: url('../../public/img/un.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenu à DGIMA!</div>
                <div class="intro-heading">Département génie informatique & mathématique appliquée </div>
                <a href="#intro" class="btn btn-primary btn-lg">See More</a>
            </div>
        </div>
    </header>