<%- include('../partials/navheader')-%>

<br/>
<br/>
<br/>

<div class="container">
    <p style="font-size: 15px">Pôle majeur d'enseignement supérieur et de recherche dans le Sud du pays, l'ENIS est l'une des grandes écoles tunisiennes
        au sein de laquelle l'ensemble des champs du savoir sont représentés (Biotechnologie&agro-alimentaire ;Environnement ;
        Sciences et technologies).
        Nos thématiques de recherche sont en adéquation avec les priorités du pays (publiées en 2017). </p>
    <p style="font-size: 15px">L’ENIS souhaite définir une recherche inter-régionale pour une reconnaissance méditerranéenne.
        L’objectif est de faire émerger Sfax comme une excellente place de recherche, de développement et d'innovation à
        l'échelle nationale et internationale. </p>
    <p style="font-size: 15px">Notre politique à l’ENIS est d’internationaliser la recherche en instaurant la mobilité sortante des élèves-ingénieurs (en PFE),
        des étudiants de master, des doctorants et des chercheurs entrante en développant l’accueil des chercheurs et des Professeurs
        invités. Dans ce cadre l’école met à disposition un budget pour payer les frais de séjour et de transport.</p>
</div>




<!-- Scripts -->

<!-- Loads Bootstrap Main JS -->
<script src="../bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../bootstrap/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
