<%- include('../partials/navheader')-%>



<style>
    #coloor{
       color: #ff4500;
    }
    #enis{
        color:crimson;
    }
    .add{
     padding: 2px;
    
    }
    h3{
        color:crimson;
    }
</style>

</head>
<body>

<center><h1 id="coloor">A PROPOS DE L’ÉCOLE </h1></center>
<div class="container">
    <div class="col-md-80">
        <center><a href="/"><img  src="../../public/img/enisimg.jpg" alt="Logo" width="400" height="450"  align=right ></a></center>

<p class="add"><h3 id="enis">L’Ecole Nationale d’Ingénieurs de Sfax (ENIS)</h3> est un établissement public de formation d’ingénieurs et de recherche créé en 1983.  
 
Avec son staff enseignant formé de 229 enseignants chercheurs permanents dont 120 collège A et environ 1054 élèves ingénieurs l’ENIS est actuellement une parmi les grandes institutions de formation d’ingénieurs, de recherche et de transfert technologique en Tunisie.  
 
L’ENIS assure la formation d’ingénieurs dans 7 disciplines avec, en moyenne et par année, 450 ingénieurs nouveaux diplômés (toutes disciplines confondues). En parallèle, et dans le cadre de son ouverture à l’international, l’ENIS propose quatre mastères de recherche en parallèle avec les parcours d’ingénierie.  
 
L’Ecole doctorale « sciences & technologies » de l’ENIS dispose de 22 laboratoires, 9 unités de recherche, 6 unités de service commun avec plus que 800 doctorants et environs 200 thèses en cotutelle avec les partenaires internationaux.  
 
Centre d’Innovation et de Transfert Technologique: Ce potentiel met l’ENIS à la tête des établissements tunisiens en termes de nombre de brevets et une moyenne de 400 publications par année dans les journaux scientifiques. Actuellement l’ENIS est engagée dans une démarche de valorisation des résultats de la recherche et dispose, pour ce fait, d’un Centre d’Innovation et de Transfert Technologique « CITtech » 
</p>


<h2 id="enis">Les 7 Départements :Structure </h2>

<ul>
    <li>Génie biologique</li>
    <li>Génie civil</li>
    <li>Génie électrique </li>
    <li>Génie informatique et mathématiques appliquées</li>
    <li>Géologie</li>
    <li>Génie des matériaux</li>
    <li>Génie mécanique</li>
</ul>
<p>En plus des formations d'ingénieurs de base, l'ENIS offre des formations de master professionnel, de masters pour la recherche ainsi qu'une panoplie de formations doctorales.</p>
</div>
</div>
</body>
</html>