<head>
    <%- include('../partials/navheader')-%>

    <style>
    h3,h4 {
        color:#ff4500;
        
       }
       </style>
</head>
<br/>
<br/>
<br/>


<div class="container">
    <h4>L’école doctorale EDST</h4>
    <p>L’école doctorale “Sciences et Technologies” "EDST" est une structure scientifique et technologique au sein de l’Ecole Nationale d’Ingénieurs de Sfax « ENIS ». Elle est composée en particulier, de groupes d’excellence comportant 120 enseignants / chercheurs, 570 doctorants et 50 étudiants en mastère de recherche. L’EDST dispose de 26 structures de recherche, travaillant autour de 8 spécialités complémentaires et cohérentes répondant aux thématiques scientifiques et technologiques prioritaires sur le plan national. L’objectif de l’EDST est d’améliorer l’efficacité de la formation par la recherche, la mise en application du principe de partenariat avec l’environnement économique et le développement de l’esprit d’initiative ainsi que la culture entrepreneuriale auprès des chercheurs.</p>
    <p>La maîtrise des nouvelles technologies et le développement des techniques de conception et de production scientifique révèlent un intérêt scientifique et économique.</p>
    <p>L'institution d'une école doctorale en “Sciences et Technologies” devient de plus en plus bénéfique en vue d'approfondir les connaissances et promouvoir la production du savoir dans ce domaine.</p>
    <p>Il est également important d'exploiter le mieux possible les compétences des chercheurs qui font partie des 4 mastères et des 8 doctorats de cette école doctorale, en vue d'enrichir leurs acquis et d'élargir la base du choix en compétences aussi bien dans le domaine de l'enseignement et la recherche, que dans les secteurs productifs.
    </p><p>Ce choix qui va en parallèle avec la politique nationale en matière de création de pôles technologiques à travers le pays en vue de promouvoir les liens entre le secteur de la recherche et celui de la production.</p>
    <p>L’école doctorale “Sciences et Technologies” a pour mission de compléter la formation pluridisciplinaire des étudiants en mastères et doctorats ce qui permet de diversifier leurs compétences en communication et en gestion de projets, et donc favoriser leurs intégrations dans le marché du travail ainsi que la valorisation de leur recherches.</p>
    <p>Les projets communs de recherche et les conventions bilatérales de coopération constituent également des sources de développement de ces disciplines et une suite logique des changements rapides que connaît le secteur.</p>
    <p>Il s'agit de valoriser la coopération et l'échange d'experts surtout avec les structures de renom au niveau international et principalement celles qui embauchent des compétences tunisiennes rayonnantes depuis l'étranger afin de rendre service à leurs pays d'origine et pourquoi pas leur rapatriement.</p>
    <p>L’école doctorale “Sciences et Technologies” vise l'excellence en matière de production et de diffusion du savoir surtout dans les secteurs porteurs en l'occurrence les NTIC , la biologie, l’environnement et l’aménagement, les matériaux et la mécanique.</p>
    <h3>Etablissements Partenaires</h3>
    <ul>
        <li>Institut Supérieure de Biotechnologie de Sfax</li>
        <li>Centre Biotechnologie de Sfax</li>
        <li>Institut des Hautes Etudes Commerciales de Sfax</li>
        <li>Faculté de médecine de Sfax</li>
        <li>Centre de Recherche en Numérique de Sfax</li>
    </ul>
    <h3>En cours</h3>
    <ul>
        <li>22 Laboratoires de Recherche</li>
        <li>4 Unités de Recherche</li>
        <li>6 Unités de Services Communs pour la Recherche</li>
        <li>32 Convention Cadres (Europe, pays arabe, Amérique et Asie)</li>
        <li>33 Projets de recherhe</li>
        <li>570 Thèses</li>
    </ul>
    <h3>Statistique</h3>
    <ul>
        <li>1291 Doctorats soutenus</li>
        <li>247 Habilitations Soutenues</li>
        <li>119 Brevets d'invention</li>
        <li>130 Thèses en cotutelles soutenues</li>
    </ul>
    <h2>L’ENIS décerne le diplôme national de doctorat : </h2>
    <ul>
        <li>Ingénierie des Systèmes Informatiques</li>
        <li>Technologies du Signal et de l'Image</li>
    </ul>
</div>


    <!-- Scripts -->

    <!-- Loads Bootstrap Main JS -->
    <script src="../../public/bootstrap/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../public/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
