<%- include('../partials/navheader')-%>

<br/>
<br/>
<br/>
<div class="container">

    <table class="table table-stripped">
        <thead>
        <tr><th>Laboratoire</th><th>Code</th><th>Responsable</th><th>Email</th></tr>

        </thead>
        <tbody>
        <tr>
            <td><a href="http://www.ceslab.org/">Computer & Embedded Systems</a></td><td>LR11ES49</td><td>Mohamed ABID</td><td>Mohamed.abid@enis.rnu.tn</td>
        </tr>
        <tr>
            <td><a href="http://www.enis.rnu.tn/fra/pages/399/ReGIM-Lab.-REsearch-Groups-in-Intelligent-Machines-(LR11ES48)">Research Groups in Intelligent Machines REGIM</a></td><td>LR11ES48</td><td>Adel ALIMI</td><td>Adel.alimi@ieee.org</td>
        </tr>
        <tr>
            <td><a href="https://www.redcad.org/">Développement et Contröle d’Applications Distribuées</a></td><td>LR13ES26</td><td>Mohamed JMAIEL</td><td>mohamed.jmaiel@enis.rnu.tn</td>
        </tr>
        <tr>
            <td><a href="http://www.enis.rnu.tn/fra/pages/394/Laboratoire-Advanced-Technologies-For-Medicine-and-Signals">Advanced technologies for Medical and signal</a></td><td>LR17ES10</td><td>Ahmed BENHAMIDA</td><td>Ahmed.Benhamida@enis.rnu.tn</td>
        </tr>
        </tbody>

    </table>

</div>

<!-- Scripts -->

<!-- Loads Bootstrap Main JS -->
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../public/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
