<head>
<%- include('../partials/navheader')-%>
<style>
#coloor  {
    color:#ff4500;
    
   }
   h5{color:coral;}
   </style>
   </head>
<br/>
<br/>
<br/>
    <div class="container" >

        <h1 id="coloor">Domaine de formation : TIC</h1>
        <p>Parcours (ou spécialité)  : 	Mastère en systèmes embarqués</p>
        <p>Date de démarrage : 	 Septembre 2013</p>
        <h5>Objectifs de la formation (compétences, savoir-faire, connaissances)</h5>
        <p> Conception de systèmes embarqués, programmation embarquée.</p>
        <h5>Conditions d'accès à la formation et pré-requis</h5>
        <ul>
            <li>Nombre prévu d'étudiants répartis sur les années d'habilitation (environ 20)</li>
            <li>Pré-requis: 1ère année Génie Informatique ou Génie Electrique ou licence en informatique ou électrique ou télécom</li>
        </ul>
        <h5>Perspectives professionnelles du parcours</h5>
        <p> Former des chercheurs spécialisés en systèmes embarqués</p>
        <h5>Perspectives de poursuite d'études supérieures pour les étudiants les plus distingués</h5>
        <ul>
            <li>Possibilité de continuer thèse de doctorat en Allemagne  </li>
            <li>Possibilité de continuer thèse en Cotutelle avec TU Chemnitz, Germany …re</li>
        </ul>
    </div>

    <!-- Scripts -->

    <!-- Loads Bootstrap Main JS -->
    <script src="../../public/bootstrap/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../public/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
